<div class="flex justify-between items-center w-full h-[60px] top-0 shadow-sm z-50 sm:h-[92px]">
  <img class="w-[76px] h-[34px] ml-[16px] sm:w-[118px] sm:h-[52px] sm:ml-[68px]" src="../assets/img/logo.svg" alt="logo"/>
  <div class="flex items-center">
    <div class="flex items-center pr-[12px] border-r border-[#16161629] sm:pr-[0]">
      <img class="w-[32px] h-[22px] rounded-sm" src="../assets/img/lang.png" alt="lang"/>
      <p class="hidden sm:block w-[53px] h-[19px] ml-[10px] text-[14px] text-[#0E215E] text-left">ENG</p>
    </div>
    <div class="flex ml-[12px] w-[144px] sm:ml-[20px]">
      <div class="w-[36px] h-[36px] bg-[#F4F6FE] mr-[16px] rounded-full flex justify-center items-center relative">
        <div class="w-[9px] h-[9px] bg-pink-600 rounded-full -top-0.5 ml-6 absolute"></div>
        <img class="h-[20px] w-[17px] object-contain" src="../assets/img/bell.svg" alt="bell" />
      </div>
      <div class="w-[36px] h-[36px] bg-[#F4F6FE] mr-[16px] rounded-full flex justify-center items-center">
        <img class="h-[20px] w-[17px] object-contain" src="../assets/img/user.svg" alt="user" />
      </div>
      <div class="flex items-center">
        <img class="w-[24px] h-[24px] sm:hidden" src="../assets/img/menu.svg" alt="menu">
        <img class="hidden sm:block w-[8px] h-[6px] rotate-180" src="../assets/img/triangle.png" alt="triangle"/>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
