<div class="overflow-hidden mx-auto flex flex-col items-center mt-[24px]">

  <h1 class="w-[342px] h-[27px] text-[16px] text-[#292562] text-center">
    ᲐᲘᲠᲩᲘᲔ ᲡᲐᲡᲣᲠᲕᲔᲚᲘ ᲓᲠᲝ
  </h1>

  <div class="flex justify-center items-center bg-[#F9F9FE] w-full mt-[24px]">
    <div class="flex items-center justify-center overflow-scroll overflow-y-hidden sm:w-[95%] h-[116px]">
      <button class="hidden lg:flex justify-center items-center w-[176px] h-[46px] bg-white gap-[8px] border !border-[#DEE0E8] rounded-lg mr-[86px]">
        <img class="w-[16px] h-[17px] text-[14px] text-[#292562]" src="../assets/img/calendar.svg" alt="Calendar" />
        <span class="w-[104px] h-[20px] text-[14px] text-[#292562]">დღეს - 23 ივლ</span>
      </button>

      <div class="flex items-center w-[328px] sm:w-auto sm:justify-center">
        <div id="carouselExampleControls" class="carousel slide max-w-max pt-8 pb-8 relative" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="flex gap-[20px]">
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#ED1C7C] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#ED1C7C] text-[14px] text-center">ოთხ</p>
                  <p class="w-[58px] h-[22px] text-[#ED1C7C] text-[16px] text-center">23 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ხუთ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">24 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">პარ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">25 ივლ</p>
                </div>

                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">შაბ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">26 ივლ</p>
                </div>

                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">კვი</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">27 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ორშ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">28 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">სამ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">29 ივლ</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="flex gap-[20px]">
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ოთხ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">30 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ხუთ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">31 ივლ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">პარ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">1 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">შაბ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">2 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">კვი</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">3 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ორშ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">4 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">სამ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">5 აგვ</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="flex gap-[20px]">
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ოთხ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">6 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ხუთ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">7 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">პარ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">8 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">შაბ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">9 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">კვი</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">10 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">ორშ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">11 აგვ</p>
                </div>
                <div
                  class="w-[82px] h-[78px] gap-[4px] flex flex-col items-center justify-center border !border-[#DEE0E8] rounded-xl cursor-pointer">
                  <p class="w-[70px] h-[24px] text-[#9199B4] text-[14px] text-center">სამ</p>
                  <p class="w-[58px] h-[22px] text-[#292562] text-[16px] text-center">12 აგვ</p>
                </div>
              </div>
            </div>
          </div>
          <button class="hidden lg:flex carousel-control-prev w-[46px] h-[46px] border !border-[#DEE0E8] top-1/2 translate-x-[-150%] translate-y-[-50%] rounded-lg mr-[60px]"
            href="#carouselExampleControls" role="button" data-slide="prev">
            <img src="../assets/img/chevron-left.svg" class="w-[9px] h-[14px]" alt="Arrow left" />
          </button>
          <button class="hidden lg:flex carousel-control-prev w-[46px] h-[46px] border !border-[#DEE0E8] top-1/2 translate-x-[-150%] translate-y-[-50%] rounded-lg ml-[780px]"
            href="#carouselExampleControls" role="button" data-slide="next">
            <img class="rotate-180" src="../assets/img/chevron-left.svg" alt="Arrow rigth" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center mt-[32px] mb-[24px]">
  <div class="gap-[16px] flex flex-col items-center sm:mx-[16px] sm:flex-row sm:w-[95%] xlg:w-[1200px]">
    <ng-select
      [items]="doctors"
      bindLabel="clinic"
      bindValue="field"
      [(ngModel)]="selectedClinic"
      placeholder="კლინიკა"
      disabled=""
      class="w-[328px] sm:w-[280px]"
    ></ng-select>
    <ng-select
      (ngModelChange)="createNewList($event)"
      [items]="doctorDropdownList"
      bindLabel="name"
      [(ngModel)]="selectedDoc"
      placeholder="პირადი ექიმი"
      class="w-[328px] sm:w-[280px]"
    ></ng-select>
    <ng-select
      (ngModelChange)="onDoctorsChange($event)"
      [items]="specialList"
      bindLabel="name"
      [(ngModel)]="selectedSpecial"
      placeholder="სპეციალობა"
      class="w-[328px] sm:w-[280px]"
    ></ng-select>
    <ng-select
      [items]="doctors"
      bindLabel="name"
      bindValue="field"
      [(ngModel)]="selectedDescription"
      placeholder="კვლევის დასახელება"
      class="w-[328px] sm:w-[280px]"
    ></ng-select>
  </div>
</div>

<article class="flex items-center w-[328px] h-[36px] gap-[2px] mx-auto sm:mb-[24px] sm:mt-[36px] overflow-scroll sm:w-[95%] sm:h-[36px] sm:gap-[16px]">
  <div class="flex justify-between items-center w-[328px] sm:w-[345px] h-[36px] bg-[#ED1C7C] rounded-2xl" *ngFor="let item of chooseDateList; let i = index">
    <p class="w-[260px] sm:w-[283px] h-[20px] ml-[16px] text-[#FFFFFF] text-[14px]">{{item.doctor.name }} - {{ item.time }}</p>
    <div (click)="removeDate(i, item.doctor, item.time)" class="w-[24px] h-[24px] mr-[6px] rounded-full bg-white flex items-center justify-center cursor-pointer">
      <img class="w-[10px] h-[10px]" src="../assets/img/xmark.svg" alt="">
    </div>
  </div>
</article>

<section class="mb-[60px]">
  <article
    *ngIf="
      activeDoctor === doctorEnum.Private_Doctor ||
      activeDoctor === doctorEnum.All_Doctor
    "
  >
    <div class="flex items-center w-[328px] h-[19px] mb-[24px] mt-[24px] mx-auto sm:mt-[32px]">
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
      <p class="w-[118px] h-[19px] text-[#9199B4] text-[14px] text-center mx-auto sm:text-[#292562]">პირადი ექიმები</p>
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
    </div>

    <div class="h-[412px] relative overflow-hidden border-[1px] w-[328px] mx-auto mb-[24px] sm:w-[95%] rounded-xl" [ngClass]="{ 'h-auto' : isAllPrivateDocClicked || privateDoctors.length < 2}">
      <div *ngFor="let doct of privateDoctors" class="w-[328px] h-[270px] mx-auto mb-[44px] sm:w-[95%] sm:h-[198px]">
        <div class="w-full rounded-xl py-[24px] px-[20px] relative">
          <div
            [ngClass]="firstSeeAll ? 'max-h-max' : 'max-h-150'"
          >
            <div class="flex flex-col border-b border-[#DEE0E8] gap-[16px] border-dashed sm:items-start">
              <div class="flex justify-center items-center gap-[8px] sm:gap-[24px]">
                <img class="w-[56px] h-[56px] rounded-full sm:w-[72px] sm:h-[72px] sm:mt-[12px]"
                  [src]="doct.img"
                  alt="User-2"/>
                <div class="flex flex-col gap-[4px] sm:flex-row sm:gap-[16px] sm:-mt-[32px]">
                  <p class="text-[14px] underline !w-auto h-[19px] sm:w-[136px] sm:h-[20px]">{{ doct.name }}</p>
                  <p class="text-[#ED1C7C] text-[14px] w-[232px] h-[19px]">{{ doct.field }}</p>
                </div>
              </div>
              <div class="flex flex-col gap-[16px] sm:gap-[2px] sm:ml-[96px] sm:-mt-[54px]">
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] sm:w-[453px] sm:h-[20px]">{{ doct.clinic }}</span>
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] flex items-center gap-[8px]">
                  <span>
                    <img class="w-[12px] h-[17px] sm:block" [src]="doct.icon" alt="office-building-icon"/>
                  </span>
                    {{ doct.address }}
                  </span>
              </div>
            </div>
            <div class="w-[288px] h-[60px] overflow-scroll flex flex-nowrap mt-[24px] gap-[8px] border-b border-[#DEE0E8] border-dashed sm:gap-[12px] sm:w-[100%] sm:mt-[16px]">
              <div *ngFor="let timeOption of doct.schedule; let i = index"
                (click)="!timeOption.isActive && chooseDate(doct, timeOption.time, i)"
                class="flex items-center justify-center w-[110px] h-[38px] bg-[#F4F4FE] text-[#292562] text-[14px] rounded-lg cursor-pointer"
                [ngClass]="{ active_shedule: timeOption.isActive }"
              >
                <p class="flex items-center justify-center w-[94px] h-[22px]">{{ timeOption.time }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute w-full h-[48px] border-t-[1px] bottom-0 left-0 flex items-center justify-center bg-white z-50" (click)="isAllPrivateDocClicked = !isAllPrivateDocClicked" *ngIf="privateDoctors.length > 1" [ngClass]="{'boxshadow' : !isAllPrivateDocClicked}">
        <div class="text-[#ED1C7C] flex justify-center w-auto items-center gap-2 cursor-pointer">
          <p class="text-[14px]">ყველას ნახვა</p>
          <svg [ngClass]="!isAllPrivateDocClicked ? '-rotate-90' : 'rotate-90'" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 9 14">
            <path id="chevron-right" d="M17.59,18.343,12.027,13,17.59,7.645,15.877,6,8.59,13l7.287,7Z" transform="translate(-8.59 -6)" fill="#ED1C7C" />
          </svg>
        </div>
      </div>
    </div>
  </article>

  <article
    *ngIf="
      activeDoctor === doctorEnum.Otoriloralingolog ||
      activeDoctor === doctorEnum.All_Doctor
    "
  >
    <div class="flex items-center w-[328px] h-[19px] mb-[24px] mt-[24px] mx-auto sm:mt-[32px]">
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
      <p class="w-[118px] h-[19px] text-[#9199B4] text-[14px] text-center mx-auto sm:text-[#292562]">ოტორინოლარინგოლოგი</p>
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
    </div>

    <div class="h-[412px] relative overflow-hidden border-[1px] w-[328px] mx-auto mb-[24px] sm:w-[95%] rounded-xl" [ngClass]="{ 'h-auto' : isAllOtorinolaringologDocClicked || otoriloralingologs.length < 2}">
      <div *ngFor="let doct of otoriloralingologs" class="w-[328px] h-[270px] mx-auto mb-[44px] sm:w-[95%] sm:h-[198px]">
        <div class="w-full rounded-xl py-[24px] px-[20px] relative">
          <div
            [ngClass]="firstSeeAll ? 'max-h-max' : 'max-h-150'"
          >
            <div class="flex flex-col border-b border-[#DEE0E8] gap-[16px] border-dashed sm:items-start">
              <div class="flex justify-center items-center gap-[8px] sm:gap-[24px]">
                <img class="w-[56px] h-[56px] rounded-full sm:w-[72px] sm:h-[72px] sm:mt-[12px]"
                  [src]="doct.img"
                  alt="User-2"/>
                <div class="flex flex-col gap-[4px] sm:flex-row sm:gap-[16px] sm:-mt-[32px]">
                  <p class="text-[14px] underline !w-auto h-[19px] sm:w-[136px] sm:h-[20px]">{{ doct.name }}</p>
                  <p class="text-[#ED1C7C] text-[14px] w-[232px] h-[19px]">{{ doct.field }}</p>
                </div>
              </div>
              <div class="flex flex-col gap-[16px] sm:gap-[2px] sm:ml-[96px] sm:-mt-[54px]">
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] sm:w-[453px] sm:h-[20px]">{{ doct.clinic }}</span>
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] flex items-center gap-[8px]">
                  <span>
                    <img class="w-[12px] h-[17px] sm:block" [src]="doct.icon" alt="office-building-icon"/>
                  </span>
                    {{ doct.address }}
                  </span>
              </div>
            </div>
            <div class="w-[288px] h-[60px] overflow-scroll flex flex-nowrap mt-[24px] gap-[8px] border-b border-[#DEE0E8] border-dashed sm:gap-[12px] sm:w-[100%] sm:mt-[16px]">
              <div *ngFor="let timeOption of doct.schedule; let i = index"
                (click)="!timeOption.isActive && chooseDate(doct, timeOption.time, i)"
                class="flex items-center justify-center w-[110px] h-[38px] bg-[#F4F4FE] text-[#292562] text-[14px] rounded-lg cursor-pointer"
                [ngClass]="{ active_shedule: timeOption.isActive }"
              >
                <p class="flex items-center justify-center w-[94px] h-[22px]">{{ timeOption.time }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute w-full h-[48px] border-t-[1px] bottom-0 left-0 flex items-center justify-center bg-white z-50" (click)="isAllOtorinolaringologDocClicked = !isAllOtorinolaringologDocClicked" *ngIf="otoriloralingologs.length > 1" [ngClass]="{'boxshadow' : !isAllOtorinolaringologDocClicked}">
        <div class="text-[#ED1C7C] flex justify-center w-auto items-center gap-2 cursor-pointer">
          <p class="text-[14px]">ყველას ნახვა</p>
          <svg [ngClass]="!isAllOtorinolaringologDocClicked ? '-rotate-90' : 'rotate-90'" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 9 14">
            <path id="chevron-right" d="M17.59,18.343,12.027,13,17.59,7.645,15.877,6,8.59,13l7.287,7Z" transform="translate(-8.59 -6)" fill="#ED1C7C" />
          </svg>
        </div>
      </div>
    </div>
  </article>

  <article
    *ngIf="
      activeDoctor === doctorEnum.Research_Doctor ||
      activeDoctor === doctorEnum.All_Doctor
    "
  >
    <div class="flex items-center w-[328px] h-[19px] mb-[24px] mt-[24px] mx-auto sm:mt-[32px]">
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
      <p class="w-[118px] h-[19px] text-[#9199B4] text-[14px] text-center mx-auto sm:text-[#292562]">კვლევის ექიმი</p>
      <div class="w-[105px] h-[1px] bg-[#DEE0E8] mx-[5px] sm:hidden"></div>
    </div>

    <div class="h-[412px] relative overflow-hidden border-[1px] w-[328px] mx-auto mb-[24px] sm:w-[95%] rounded-xl" [ngClass]="{ 'h-auto' : isAllResearchDocClicked || researchDoctors.length < 2}">
      <div *ngFor="let doct of researchDoctors" class="w-[328px] h-[270px] mx-auto mb-[44px] sm:w-[95%] sm:h-[198px]">
        <div class="w-full rounded-xl py-[24px] px-[20px] relative">
          <div
            [ngClass]="firstSeeAll ? 'max-h-max' : 'max-h-150'"
          >
            <div class="flex flex-col border-b border-[#DEE0E8] gap-[16px] border-dashed sm:items-start">
              <div class="flex justify-center items-center gap-[8px] sm:gap-[24px]">
                <img class="w-[56px] h-[56px] rounded-full sm:w-[72px] sm:h-[72px] sm:mt-[12px]"
                  [src]="doct.img"
                  alt="User-2"/>
                <div class="flex flex-col gap-[4px] sm:flex-row sm:gap-[16px] sm:-mt-[32px]">
                  <p class="text-[14px] underline !w-auto h-[19px] sm:w-[136px] sm:h-[20px]">{{ doct.name }}</p>
                  <p class="text-[#ED1C7C] text-[14px] w-[232px] h-[19px]">{{ doct.field }}</p>
                </div>
              </div>
              <div class="flex flex-col gap-[16px] sm:gap-[2px] sm:ml-[96px] sm:-mt-[54px]">
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] sm:w-[453px] sm:h-[20px]">{{ doct.clinic }}</span>
                <span class="w-[288px] h-[38px] text-[14px] text-[#9199B4] flex items-center gap-[8px]">
                  <span>
                    <img class="w-[12px] h-[17px] sm:block" [src]="doct.icon" alt="office-building-icon"/>
                  </span>
                    {{ doct.address }}
                  </span>
              </div>
            </div>
            <div class="w-[288px] h-[60px] overflow-scroll flex flex-nowrap mt-[24px] gap-[8px] border-b border-[#DEE0E8] border-dashed sm:gap-[12px] sm:w-[100%] sm:mt-[16px]">
              <div *ngFor="let timeOption of doct.schedule; let i = index"
                (click)="!timeOption.isActive && chooseDate(doct, timeOption.time, i)"
                class="flex items-center justify-center w-[110px] h-[38px] bg-[#F4F4FE] text-[#292562] text-[14px] rounded-lg cursor-pointer"
                [ngClass]="{ active_shedule: timeOption.isActive }"
              >
                <p class="flex items-center justify-center w-[94px] h-[22px]">{{ timeOption.time }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute w-full h-[48px] border-t-[1px] bottom-0 left-0 flex items-center justify-center bg-white z-50" (click)="isAllResearchDocClicked = !isAllResearchDocClicked" *ngIf="researchDoctors.length > 1" [ngClass]="{'boxshadow' : !isAllResearchDocClicked}">
        <div class="text-[#ED1C7C] flex justify-center w-auto items-center gap-2 cursor-pointer">
          <p class="text-[14px]">ყველას ნახვა</p>
          <svg [ngClass]="!isAllResearchDocClicked ? '-rotate-90' : 'rotate-90'" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 9 14">
            <path id="chevron-right" d="M17.59,18.343,12.027,13,17.59,7.645,15.877,6,8.59,13l7.287,7Z" transform="translate(-8.59 -6)" fill="#ED1C7C" />
          </svg>
        </div>
      </div>
    </div>
  </article>
</section>
